@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&display=swap');


$orange: #FF5C00;
$orange-light: #EC8F5E;
$blue:#183E9F;
$white: white;
$white-light: #dedede;
$dark: #1e1c2a;
$font-poppins:'Poppins', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

.sobre{
    margin-top: 3rem;
}

.sobre-container{
    display: flex;
    gap: 8rem;
    align-items: center;
}

.sobre-img img{
    width: 100%;
}

.sobre-text{
    max-width: 37rem;
}

.sobre-text > h2{
    margin: 1.6rem 0 2.5rem;
    text-align: center;
    font-size: 3rem;
    font-family: $font-poppins;
    
}

.sobre-text > p{
    margin: 1.6rem 0 2.5rem;
    text-align: center;
    font-family: $font-montserrat;
}

.destaques{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.destaques-card{
    background: $orange;
    color: $white;
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);


    &:hover{
        background-color: $orange-light;
        box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
    }
}

.destaques-icon{
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.destaques-icon span{
    font-size: 280%;
}

.missoes-valores{
    margin-top: 6rem;
}

.missoes-valores-container{
    background: $orange-light;
    padding: 3rem 2rem 2rem;
    border-radius: 1rem;
}

.missoes-valores-title{
    text-align: center;
    color: $white;
    font-family: $font-poppins;
    font-size: 2.5rem;
}

.container-card{
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
}

.missoes-valores-card{
    background: $white;
    padding: 2.5rem 3rem 2rem 1.5rem;
    border-radius: 1em;
}

.number-valores-missoes-card{
    display: inline-block;
    background: $orange-light;
    color: $white;
    padding: .5rem .75rem;
    border-radius: .25rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    transition: .3s;
}


.valores-missoes-title{
    font-size: 1.5rem;
    font-family: $font-montserrat;
    margin-bottom: 1rem;
}

.valores-missoes-descricao{
    font-size: 1rem;
    font-family: monospace;
}



/*Responsividade*/
/*Tablets*/

@media screen and (max-width: 1024px){
    .sobre{
        margin-top: 2rem;
    }

    .sobre-container{
        
        flex-direction: column;
        gap: 4rem;
    }

    .sobre-img{
        width: 80%;
        margin: 0 auto;
    }
}

/*Smartphones*/
@media screen and (max-width: 600px){

    .destaques-card{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }


}