@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&display=swap');



$orange: #FF5C00;
$orange-light: #EC8F5E;
$blue:#183E9F;
$white: white;
$white-light: #dedede;
$caixa-login: #ffa570;
$dark: #1e1c2a;
$font-poppins:'Poppins', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;




.main-login{
    padding: 0;
}

.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 0 0;
}

.login-text{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.login-img{
    width: 55%;
}

.login-text > h2{
    color: $orange;
    font-size: 2rem;
    font-family: $font-poppins;
    text-align: center;
}

.login-form{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: $orange;
    border-radius: 20px;
    box-shadow: 0px -10px 40px rgba(0,0,0,0.3);
    gap: 1.5rem;
}

.login-card > h2{
    color: $white;
    font-weight: 500;
    margin: 0;
    font-family: $font-montserrat;
}

.login-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.login-input > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: $white;
    color: $orange;
    font-size: 1.2em;
    box-shadow: 0px -10px 40px rgba(0,0,0,0.3);
    outline: none;
}

.login-input > label{
    color: $white;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: $font-montserrat;
}

.login-input::placeholder{
    color: $orange;
}

.btn-login{
    width: 70%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    color: $orange;
    font-size: 1.2em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 10px 40px -12px #ccc;
}

.cadastre-se{
    color: $white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

.cadastre-se a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    color: #dedede;
}