@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&display=swap");

$orange: #ff5c00;
$orange-light: #ec8f5e;
$blue: #183e9f;
$white: white;
$white-light: #dedede;
$caixa-login: #ffa570;
$dark: #1e1c2a;
$font-poppins: "Poppins", sans-serif;
$font-montserrat: "Montserrat", sans-serif;


// Cabecalho
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    list-style: none;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 35px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: $white;
    transition: ali 0.5s;
    position: fixed;
}

.navigation .logo {
    width: 7%;
    height: 7%;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: $blue;
    font-size: 1.3em;
    font-weight: 500;
    transition: ali 0.5s;
}

.navigation ul li a:hover {
    color: $orange;
}

.navigation ul li .login-entrar {
    display: flex;
    background: $blue;
    color: $white;
    padding: 15px;
    border-radius: 30px;
    gap: 7px;
}

.navigation ul li .login-entrar:hover {
    background-color: $orange;
    color: $white;
}

.menu {
    cursor: pointer;
    display: none;
    justify-content: center;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: $orange;
    margin: 5px auto;
    transition: ali 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: $blue;
}

main {
    width: 100%;
    min-height: 80vh;
    padding: 8%;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.error{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error > h2{
    font-family: $font-poppins;
    color: #ff5c00;

}

// Rodape
.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px;
    box-shadow: 0 0.1rem 0.1rem #ffb388;
    width: 100%;
    background: $orange;
    gap: 5rem;
    color: $white;
    font-size: 1em;
    font-weight: 500;
}

.rodape .repositorio-github p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape .repositorio-github p a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 5px;
}

.rodape .repositorio-github p span {
    font-size: 30px;
}


// Responsividade

// Especifica para Menu/Cabeçalho

@media (max-width: 785px) {
    .navigation {
        padding: 18px 80px;
    }
    .menu {
        display: block;
    }
    .menu-ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menu-ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu-link {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .menu-link.ativo {
        right: 0;
    }
    .nav-item {
        margin: 16px 0;
    }
}

// Especifica para o Rodapé

@media (max-width: 785px) {
    .rodape {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .rodape .repositorio-github {
        margin-bottom: 20px;
    }

    .integrantes {
        margin-top: 20px;
    }
}
