@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&display=swap');


$orange: #FF5C00;
$blue:#183E9F;
$white: white;
$dark: #1e1c2a;
$font-poppins:'Poppins', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

.home{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text{
    max-width: 37rem;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: $orange;
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    font-family: $font-poppins;
}

.home-text p{
    margin-bottom: 4rem;
    font-family: $font-montserrat;
}

.btn-conheca{
    padding: 15px 45px;
    background: $orange;
    color: $white;
    border-radius: 10px;
    font-weight: 700;
    transition:  ali 0.5s;
}

.btn-conheca:hover{
    background: #f99358;
}

.home-img img{
    width: 100%;
}

.vantagens-title{
    text-align: center;
}

.vantagens-title span{
    font-size: 1.5rem;
    font-weight: 600;
    color: $blue;
}

.vantagens-title h2{
    font-size: 2rem;
    color: $orange;
}

.vantagens-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
    padding: 10px 100px;
}

.vantagens-container .box{
    flex: 1 1 10rem;
    background: #EC8F5E;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
    gap: 6px;
    transition: transform 0.3s ease; 

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
  }
}

.vantagens-container .box .box-img{
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.vantagens-container .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.vantagens-container .box h3{
    color: $white;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 15px;
    border: 1px solid;
    border-radius: 30px;
}

.vantagens-container .box p{
    color: $white;
    font-size: 1.5em;
}


// Responsividade

// Dispositivos maiores
@media only screen and (max-width: 1200px) {
    .home {
        padding: 0 15%; 
    }

    .home-text {
        max-width: 50%; 
    }

    .home-img img {
        width: 100%;
    }

    .vantagens-container {
        gap: 4rem;
        padding: 10px 150px; 
    }
}

// Dispositivos médios
@media only screen and (max-width: 950px) {
    .home {
        padding: 5%;
        flex-direction: column; 
        gap: 2rem;
    }

    .home-text, .home-img {
        width: 400px; 
    }

    .home-text {
        max-width: 60%; 
    }

     .home-img img {
        margin-bottom: 20px;
        width: 500px; 
    }

    .vantagens-lifecare{
        margin-top: 25rem;
    }

    .vantagens-container {
        flex-direction: column;
        padding: 10px 20px;
    }
}

// Dispositivos pequenos
@media only screen and (max-width: 680px) {

    .home-text .text-h1{
        font-size: 2em;
    }

    .vantagens-lifecare{
        margin-top: 25rem;
    }

}