$orange: #FF5C00;
$blue:#183E9F;
$white: white;
$dark: #1e1c2a;


.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text{
    max-width: 37rem;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: $orange;
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p{
    margin-bottom: 4rem;
}

.btn-conheca{
    padding: 15px 45px;
    background: $orange;
    color: $white;
    border-radius: 10px;
    font-weight: 700;
    transition:  ali 0.5s;
}

.btn-conheca:hover{
    background: #f99358;
}

.home-img img{
    width: 100%;
}

