@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&display=swap');

$orange: #FF5C00;
$orange-light: #EC8F5E;
$blue:#183E9F;
$white: white;
$white-light: #dedede;
$dark: #1e1c2a;
$font-poppins:'Poppins', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

.solucao{
    margin-top: 3rem;
    
}

.solucao-container{
    display: flex;
    gap: 8rem;
    align-items: center;
    justify-content: space-between;
}
.solucao-img{
    width: 35%;
    justify-self: center;
}


.solucao-text > p{
    font-size: 1.2em;
    font-family: $font-montserrat;
}

.solucao-title{
    margin-bottom: 8px;
    color: $orange;
    font-size: 3rem;
    font-family: $font-poppins;
}

.solucao-descricao{
    margin-bottom: 5px;
}

.solucao-detalhes{
    display: grid;
    row-gap: 0.8rem;
    margin-bottom: 5px;
    margin-top: 15px;

}

.solucao-detalhes > p{
    font-family: $font-montserrat;
}

.solucao-descricao{
    display: inline-flex;
    column-gap: .5rem;

}

.solucao-icons{
    font-size: 1rem;
    margin-top: .15rem;
}


.sobre-saiba{
    margin-top: 8rem;
}

.sobre-saiba h3{
    line-height: 1;
    margin-bottom: 3rem;
    text-align: center;
    font-family: $font-poppins;
    font-size: 1.8em;
}

.sobre-saiba-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    
    
}

.saiba-text{
    margin-right: 4rem;
    width: 100%;
}

.saiba-text p{
    margin: 1rem 0 3rem;
    font-size: 1.3em;
    text-align: center;
    font-family: $font-montserrat;
}



.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.saiba-img{
    width: 30%;
    height: 50%;
    border-radius: 60%;
}

.saiba-categorias{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;
}

.categorias-card{
    background: $orange-light;
    padding: 2rem;
    border-radius: 2rem;
    height: 105%;
    transition: (--transition);
    color: $white;


    &:hover{
        box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
        z-index: 1;
    }
}

.categorias-card h4{
    margin: 1rem 0 1.1rem;
    font-size: 1.2rem;
    font-family: $font-montserrat
}

.categorias-card p{
    font-size: 0.85rem;
    font-family: monospace;
}

.categorias-icon{
    padding: 0.7rem;
    border-radius: 0.9rem;
    font-size: 280%;

}

// Responsividade

// Dispositivos maiores
@media only screen and (max-width: 1200px) {
    .solucao-container {
        gap: 4rem; 
    }
    .solucao-img {
        width: 30%; 
    }
    .solucao-text {
        width: 60%; 
    }
}

// Dispositivos médios
@media only screen and (max-width: 950px) {
    

    .sobre-saiba-container{
        gap: 5rem;
        flex-direction: column;
    }

    .saiba-categorias{
        grid-template-columns: repeat(1,1fr)
    }

}

// Dispositivos pequenos
@media only screen and (max-width: 650px) {
    .solucao-container {
        flex-direction: column; 
    }
    .solucao-img {
        width: 80%; 
    }
    .solucao-text {
        width: 100%; 
    }
}